/*CUSTOM VARIABLES HERE*/
 
#navbar {
  position: fixed !important; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100% !important; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 10;
}

#mapa{
  width: 100%;
  height: 500pt;
}

.inner {

  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
}

footer{
  background-color: black;
}

.services{
  background-color: lightgray;
}

.banner{
  display: grid;
  height: 100%;
}

.platos{
  display: grid;
  height: 100%;
  margin: auto;
}

.quienes{
  margin-top: 20px;
  margin-bottom: 20px;
}

aside{
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.cropped-1 {
  object-fit: cover;
  object-position: 0 30%;
  width: 200px;
  height: 500px;
}

.cropped-2 {
  object-fit: cover;
  object-position: 0 30%;
  width: 300px;
  height: 420px;
}
